.bord {
   width: 100%;
   min-height: 397px;
   position: relative;
   font-family: 'Bebas Neue';
   @include fonts(61px,61px);
   color: #ffffff;

   [alt="bord"] {
      position: absolute;
      left: 0;
      right: 0;
      z-index: -1;
   }

   .logo {
      display: block;
      text-align: end;
      padding-top: 30px;
   }

   &_text {
      padding: 163px 0 7px 0;
   }

   &_line {
      width: 100%;
      background: #14475F;
      color: #ffffff;
      text-align: center;
      font-family: 'Montserrat';
      font-weight: bold;
      @include fonts(22px,27px);
      padding: 16px 0 17px 0;
   }
}

// .bord_line {
//    width: 100%;
//    background: #14475F;
//    color: #ffffff;
//    text-align: center;
//    font-weight: bold;
//    @include fonts(22px,27px);
//    padding: 16px 0 17px 0;
// }
