.bord {
   width: 100%;
   padding-top: 105px;
   position: relative;
   font-family: 'Bebas Neue';
   color: #ffffff;

   [alt="bord"] {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      object-fit: cover;
   }

   &_text {
      padding: 160px 0 10px 0;
   }

   &_line {
      width: 100%;
      background: #14475F;
      color: #ffffff;
      text-align: center;
      font-weight: 700;
      @include fonts(22px,27px);
      padding: 16px 0 17px 0;
   }
}

h1 {
   @include fonts(61px,61px);
   font-weight: 400;
}