.btn {
   // display: inline-block;
   // float: right;
   color: #fff;
   // font-weight: 600;
   // @include fonts(16px,20px);
   padding: 0 4px;
   transition: all .8s;

   // a {
   //    display: inline-block;
   //    width: 18px;
   //    height: 18px;
   //    border-radius: 50%;
   //    border: 2px solid #fff;

   // }

   span {
      font-size: 18px;
   }


   // span {
   //    // @include fonts(16px,18px);
   //    font-size: 18px;
   //    padding: 0 12px;
   // }

// .btn {
//    color: #fff;
//    font-weight: 600;
//    @include fonts(16px,20px);
   
//    a {
//       display: inline-block;
//       padding-left: 8px;

//       span {
//          display: inline-block;
//          @include fonts(16px,18px);
//          padding-left: 11px;
//       }
//    }

   &:hover {
      color: green;
      transform: scale(1.4);
      // border-radius: 10px;
      // box-shadow: 2px 2px 3px #fff;
   }

   &:hover span {
      border-radius: 50%;
      background-color: rgb(3, 90, 13);
   }

   // &:hover a {
   //    transform: scale(1.5);
   // }
}
.contacts>li a {
   transition: all .8s;
   
   &:hover {
      color: #000061;
      text-decoration: underline;
      text-shadow: 0 0 1px #000000;
   }
}
