.btn {
   color: #fff;
   transition: all .8s;

   [class^="icon"] {
      font-size: 18px;
      position: relative;
      top: 1px;
      left: 11px;
      }

   &:hover {
      text-shadow: 0px 0px 5px #fff;
   }

}

#footer a {
   transition: all .8s;
   
   &:hover {
      color: #000061;
      text-decoration: underline;
      text-shadow: 0 0 1px #3105a8;
   }
}
