.cards {
   padding-bottom: 14px;
}
.cards_line {
   margin: 0 -15px;
}
.card {
   display: inline-block;
   width: calc(100% / 2);
   margin-right: -4px;
   padding: 15px 15px;
   color: #fff;
   transition: transform .8s;

   &:hover {
      transform: scale(1.1);
   }
   &_text {
      position: relative;
      background: #1085A9;
      padding: 30px 30px 32px;
      @include fonts(16px,20px);

      .ico {
         width: 60px;
         height: 60px;
         // padding: 13px 0;
         border-radius: 50%;
         background: #fff;
         text-align: center;
         cursor:auto;

         [class^="icon"] {
            display: block;
            padding-top: 15px;
            font-size: 30px;
         }
      }

      .number {
         position: absolute;
         top: 119px;
         right: 12px;
         font-family: 'Bebas Neue';
         @include fonts(162px,162px);
         color: #2891B2;
      }

      h3 {
         padding: 20px 0 59px;
         font-weight: 500;
         @include fonts(16px,150%);
      }

      .card_three {
         padding: 20px 0 4px;
      }

      p {
         @include fonts(13px,16px);
         opacity: 0.5;
         padding-bottom: 22px;
      }
   }
}