.main_text {
   padding: 40px 0 5px;
   @include fonts(18px,22px);
   color: #414042;
   
   .one {
      padding-top: 10px;
   }
   
   .two {
      @include fonts(18px,150%);
      padding-top: 40px;
   }
}

h2 {
   font-weight: 700;
   @include fonts(30px,37px);
   color: #14475F;
}